*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    background-image: url('1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
}